# Dépendances (on veut que Docker les installe lui-même via npm install)
node_modules
npm-debug.log

# Environnement et Secrets (NE JAMAIS inclure ces fichiers dans une image)
.env
.env.production
.git
.gitignore
.github

# Dossiers de build (si tu utilises TypeScript ou un bundler)
dist
build
out

# Fichiers système et outils
.vscode
.idea
.DS_Store
Thumbs.db

# Docker (pas besoin de copier le Dockerfile dans l'image elle-même)
Dockerfile
Dockerfile*
docker-compose*
README.md
structure.md
