name: Build Image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      # 1. Checkout du code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Build image Docker
      - name: Build Docker image
        run: cd . && docker build . -t sagesse-dev:${{ github.sha }}

      # 3. Wiz Cli image scan
      - name: Download Wiz CLI
        run: curl -o wizcli https://downloads.wiz.io/v1/wizcli/latest/wizcli-linux-amd64 && chmod +x wizcli

      - name: Run wiz-cli docker image scan
        run: ./wizcli scan container-image sagesse-dev:${{ github.sha }} --policies "Marc vulnerabilities policy","Marc secrets policy" --client-id ${{ secrets.WIZ_CLIENT_ID }} --client-secret ${{ secrets.WIZ_CLIENT_SECRET }}
        
      # 4. Connexion Azure OIDC
      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # 5. Connexion ACR & push
      - name: Login to ACR
        run: |
          az acr login --name ${{ secrets.ACR_NAME }}
          
          IMAGE_NAME=${{ secrets.ACR_NAME }}.azurecr.io/sagesse-dev:latest
          docker tag sagesse-dev:${{ github.sha }} $IMAGE_NAME
          
          docker push --all-tags ${{ secrets.ACR_NAME }}.azurecr.io/sagesse-dev